Source: libcircularbuffer
Section: libraries
Priority: extra
XBSC-Group: Storage
XBSC-Subgroup: RAM
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcircularbuffer
Provides: CircularBuffer.h
Architecture: all
Description: CircularBuffer library

